* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

marquee {
  z-index: 2;
  padding-top: 8px;
  background-color: black;
  color: white;
  height: 40px;
  position: fixed;
}

/* ===== NAVBAR ===== */
.container {
  width: 100vw;
  padding: 70px 0px;
  height: auto;
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.navbar {
  z-index: 10;
  width: 100%;
  top: 40px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7px 20px;
  background-color: #f1ebe7;
}

.logo img {
  height: 45px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.box {
  display: flex;
}

.cart {
  padding-right: 10px;
}

.cart>img {
  width: 30px;
  height: 30px;
  padding-left: 5px;
  cursor: pointer;
}

.nav-links li a:hover {
  color: #0d6efd;
}

.menu-icon>img {
  padding-top: 5px;
  padding-left: 5px;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* ===== header ===== */
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
}

.col {
  margin-top: 20px;
  flex-basis: 50%;
  min-width: 300px;
  padding: 50px 50px;
}

.col>img {
  width: 100%;
  padding-top: 50px;
}

.col>h1 {
  padding-top: 30px;
  font-size: 3.2rem;
  padding-left: 10px;
  line-height: 60px;
  font-weight: bold;
  padding-bottom: 30px;
}

.col>p {
  font-size: 1rem;
  padding-left: 10px;
}

.col>a {
  font-size: 1rem;
  padding-left: 10px;
}

.btn1>a {
  text-decoration: none;
  color: whitesmoke;
  padding: 5px 5px;
}

.btn1 {
  display: inline-block;
  margin: 30px 0px;
  background-color: #ff523b;
  border-radius: 30px;
  padding: 8px 30px;
  transition-duration: 0.5s;
}

.btn1>a:hover {
  color: #0d6efd;
}

.btn1:hover {
  background-color: brown;

}

.break {
  height: 3px;
  border-width: 0px;
  color: gray;
  background-color: gray
}

/* ===== Section 1 ===== */

.row2 {
  display: flex;
  justify-content: center;
}

.col2 {
  padding: 50px 12px;
  max-width: 300px;

}

.col2>img {
  width: 100%;
  cursor: pointer;
}

/* ===== Title ===== */

.title {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title>h2 {
  line-height: 60px;
}

.title>hr {
  width: 100px;
  height: 7px;
  background-color: #ff0000;
  border-radius: 25px;
  border: none;
}

/* ===== Section 2 ===== 
           and 
   ===== Section 3 ===== */

.grid1 {
  margin: 0px 155px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product {
  max-width: 250px;
  padding: 50px 0px;
}

.product>img {
  cursor: pointer;
  width: 100%;
}

.product:hover {
  transform: translateY(-15px);
  transition-duration: 0.5s;
}

/* ===== Section 4 ===== */

.section4 {
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

/* ===== Section 5 ===== */

.section5 {
  padding: 50px 0px;
}

.row3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.col3:hover {
  transform: translateY(-15px);
  transition-duration: 0.5s;
}

.col3 {
  text-align: center;
  padding: 50px 12px;
  max-width: 300px;
  box-shadow: 0 0 20px 0 lightgrey;
}

.col3>img {
  padding: 10px 0px;
  width: 50px;
  border-radius: 50%;
}

.col3>p {
  padding: 10px 0px;
  font-size: 12px;
}

.col3>h2 {
  font-size: 15px;
}

/* ===== Section 6 ===== */

.row4 {
  margin: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.col4>img {
  filter: grayscale(100%);
}

.col4>img:hover {
  filter: grayscale(0%);
}

/* ===== Footer ===== */

.row5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: black;
  padding: 50px 30px;
}

.col5>img {
  height: 40px;
  cursor: pointer;
}

.col5 {
  padding: 5px 0px;
  text-align: center;
  color: white;
}

.col5>p {
  font-size: 12px;
  padding: 3px 0px;
}

.col5>div>img {
  cursor: pointer;
  padding: 5px 0px;
  height: 40px;
}

.copytight {
  background-color: black;
  text-align: center;
}

.copytight>p {
  padding: 20px 0px;
  color: white;
  font-size: 12px;
}